.cards__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
  .card__item {
    width: 16rem;
    margin: 10px;
    border:none;
    border-top: solid 3px gray;
    &:hover {
      transition:200ms;
      color: #da2128;
      border-bottom: solid 3px #da2128;
    }
  }
}
