.footerBg {
  background-image: url(./img/footer.png);
  background-repeat: no-repeat;
  height: 550px;
}
a {
  text-decoration: none;
  color: gray;
  &:hover {
    text-decoration: none;
    transition: 200ms;
    color: #da2128;
    &:not(:hover) {
      color: gray;
      transition: 200ms;
    }
  }
}
.footer__container {
  width: 100%;
  height: 100%;
  // background-color: rgb(83, 83, 83);
  margin-top: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
  transition: 300ms;

  .row {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 250px;
    .col-sm {
      .content__container {
        width: 100%;
      }
    }
  }
}
.footerl {
  background-color: #171717;
  width: 100%;
  height: 300px;
}
@media only screen and (max-width: 1200px) {
  .footerBg {
    background-image: url(./img/footer.png);
    background-repeat: no-repeat;
    height: 550px;
  }
  .footer__container {
    transition: 300ms;
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
      padding-top: 30px;
      padding-bottom: 30px;
      .col-sm {
        .content__container {
          width: 250px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .footerBg {
    background-image: url(./img/footer.png);
    background-repeat: no-repeat;
    height: 550px;
  }
  .footer__container {
    // background-color: rgb(83, 83, 83);
    font-size: 12px;
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      .col-sm {
        .content__container {
          width: 200px;
          height: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 580px) {
  .footerBg {
    background-image: url(./img/footer.png);
    background-repeat: no-repeat;
    height: 550px;
    position: absolute;
  }
  .footer__container {
    // background-color: black;
    // height:200px;

    font-size: 12px;
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #171717;
      .col-sm {
        .content__container {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
