.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  .nav-link {
    color: black !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropdown.nav-item {
    margin-top: 12px;
    // margin-right: 50px;
  }
  .navbar__item {
    padding-right: 60px;
    flex-wrap: wrap;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar__item.navbar__logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav-link {
      color: black !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .dropdown.nav-item {
      margin-top: 12px;
      // margin-right: 10px;
    }
    .navbar__item {
      padding-right: 0px !important;
      flex-wrap: wrap;
    }
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar__logo {
      width: 90%;
    }
    .navbar__item.navbar__logo {
    }
    .nav-link {
      color: black !important;
      display: flex;
      align-items: center;
      justify-content: center;
      .inputGroup input {
        height: 30px !important;
        width: 150px !important;
        font-size: 10px;
      }
      button {
        height: 30px !important;
        width: 30px !important;
      }
    }
    .dropdown.nav-item {
      margin-top: 6px;
      // margin-right: 10px;
    }
    .navbar__item {
      padding-right: 0px !important;
      flex-wrap: wrap;
    }
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar__logo {
      width: 30%!important;
    }
    .navbar__item.navbar__logo {
    }
    .nav-link {
      color: black !important;
      display: flex;
      align-items: center;
      justify-content: center;
      .inputGroup input {
        height: 30px !important;
        width: 150px !important;
        font-size: 10px;
      }
      button {
        height: 30px !important;
        width: 30px !important;
      }
    }
    .dropdown.nav-item {
      margin-top: 6px;
      // margin-right: 10px;
    }
    .navbar__item {
      padding-right: 0px !important;
      flex-wrap: wrap;
    }
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 12px;
    }
  }
}